{
{% if docker_tlsverify|bool %}
	"tlsverify": true,
	"tlscacert": "{{ docker_cert_path }}/ca.pem",
{% elif docker_tls|bool %}
	"tls": true,
{% endif %}
{% if docker_tlsverify|bool or docker_tls|bool %}
	"tlscert": "{{ docker_cert_path }}/cert.pem",
	"tlskey": "{{ docker_cert_path }}/key.pem",
{% endif %}
	"hosts": {{ docker_interfaces|tojson }}
}

