{
{% if docker_host_tlsverify|bool %}
	"tlsverify": true,
	"tlscacert": "/etc/docker/ca.pem",
{% elif docker_host_tls|bool %}
	"tls": true,
{% endif %}
{% if docker_host_tlsverify|bool or docker_host_tls|bool %}
	"tlscert": "/etc/docker/cert.pem",
	"tlskey": "/etc/docker/key.pem",
{% endif %}
	"hosts": {{ docker_host_interfaces|tojson }}
}

