---

- name: epel repo
  yum:
    name: https://dl.fedoraproject.org/pub/epel/epel-release-latest-{{ ansible_distribution_major_version }}.noarch.rpm
    state: installed

- name: create tempfile for node setup script
  tempfile:
    state: file
    suffix: -node_setup_{{ node_version }}.x.bash
  register: tmp_node_setup

- block:
  - name: get node setup script
    get_url:
      url: https://rpm.nodesource.com/setup_{{ node_version }}.x
      dest: "{{ tmp_node_setup.path }}"
      force: yes

  - name: execute node setup script
    shell: bash {{ tmp_node_setup.path }}

  - name: install nodejs yum
    yum: name=nodejs state=latest update_cache=yes

  always:
    - name: remove node setup script
      file: path={{ tmp_node_setup.path }} state=absent

