{% if 'gpg-suite' in cask_apps %}
pinentry-program /usr/local/MacGPG2/libexec/pinentry-mac.app/Contents/MacOS/pinentry-mac
{% elif 'pinentry-mac' in homebrew_apps %}
pinentry-program /usr/local/bin/pinentry-mac
{% elif 'pinentry' in homebrew_apps %}
pinentry-program /usr/local/bin/pinentry
{% else %}
#pinentry-program /usr/local/bin/pinentry
{% endif %}
enable-ssh-support
default-cache-ttl 7200
max-cache-ttl 7200

